doctype html
html
  head
    title E-shop
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/auth.css">    
  body
    #form-div
        h3 Create Your Account
        form(action="/auth/signup" method="POST")
            input(type="text"  name="username" class="form-control" placeholder="Enter Your UserName.." onFocus="emptyFields()" required)        
            input(type="email"  name="email" class="form-control" placeholder="Enter Your Email Address.." onFocus="emptyFields()" required)
            input(type="password"  name="pwd" class="form-control" placeholder="Enter Your Paswword.." id="pwd" onFocus="emptyFields()" required)
            input(type="password"  name="pwd2" class="form-control" placeholder="Re-Enter Your Paswword.." id="pwd2" onFocus="emptyFields()" required)
            input(type="submit"  value="Signup" class="btn btn-primary")
        p Go To 
            a(href="signin") SignIn Page 
        span(id="error") #{error}
    script(src="/js/main.js")

