body{
    background-image: url("../images/bg.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#form-div{
    width: 50%;
    position: absolute;
    left : 50%;
    transform: translateX(-50%);
    margin-top: 100px;
}
input{
    margin-top: 8px;
}
#error{
    color: rgb(255, 0, 0);
    background: #d1ccc0;
    padding: 6px;
    font-size: 1.3em;
}
a{
    font-size: 1.2em;
    font-weight: 450;
}
p{
    font-size: 1.2em;
    font-weight: 450;

}